@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
html { 
  scroll-behavior: smooth; 
}

::-webkit-scrollbar { 
  width: 8px; 
}

::-webkit-scrollbar-track { 
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb { 
  background: #8e7cc3; 
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover { 
  background: #5e4b8b; 
}